<div class="container top-30">

  <div class="row">

    <div class="col-md-3">
        <label for="termino">Buscador de Artistas</label>
        <input
            [(ngModel)]="termino"
            (keyup)="buscarArtista()"
            type="text"
            name="termino"
            value=""
            placeholder="Buscar por artista..."
            class="form-control"> <!-- no se manda el termino en la funcion pq tiene el ngmodel-->
            <hr>
    </div>
    <div class="col-md-9">  <!-- *ngFor="let artista of _spotifyService.artistas" -->
      <div class="row">
        <div class="col-md-3 text-center puntero"
          [routerLink]="['/artista', artista.id]"
          *ngFor="let artista of _spotifyService.artistas">
          <img [src]="artista.images | sinfoto" alt="" class="img-fluid img-thumbnail"> <!-- ? si existe, ponle la url -->
          <p>{{ artista.name }}</p><hr>
        </div>

      </div>
    </div>

  </div>

</div>
