<div class="row">
  <div class="col-md-6">
    <h1>*ngIf</h1>
    <hr>
    <button type="button" class="bnt btn-outline-primary btn-block" name="button"
      (click)="mostrar = !mostrar">
      Mostrar/Ocultar
    </button>
    <br>
    <div *ngIf="mostrar" class="card text-white bg-primary mb-3 block" style="max-width: 20rem;">
      <div class="card-header">{{ frase.autor }}</div>
        <div class="card-body">
            <h4 class="card-title">Dicho</h4>
            <p class="card-text">{{frase.mensaje}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let persona of personajes; let i = index"class="list-group-item">{{i+1}}.{{persona}}</li>
    </ul>
  </div>
</div>
